<footer class="site-footer h-card">

    <div class="wrapper">

        <div class="footer-col footer-col-2">
            <ul class="social-media-list">
                <li><a href="https://github.com/lenswim"><svg class="svg-icon">
                            <use xlink:href="/assets/minima-social-icons.svg#github"></use>
                        </svg> <span class="username">lenswim</span></a></li>
            </ul>
        </div>

        <div class="footer-col footer-col-3">
            <p>I hate reading documentation. I hate it when people don&#39;t read my documentation.</p>
        </div>
    </div>

    </div>

</footer>